body{
    margin: 0;
}
ul.Topnav{
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.Topnav li{
    float: left;
}
ul.Topnav li a{
    color: #fff;
    text-decoration: none;
    padding:14px  16px;
    text-align: center;
    display: block;
    font-size: 20px;
    transition: all ease 0.3s;
}
ul.Topnav li a:hover{
    background-color: #4caf50;
}
@media screen and(max-width:900px){
    ul.Topnav li{
        float: none;
    }
}